/* Fonts */

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/gibson-bold-webfont.eot');
    src: url('/fonts/gibson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gibson-bold-webfont.woff') format('woff'),
         url('/fonts/gibson-bold-webfont.ttf') format('truetype'),
         url('/fonts/gibson-bold-webfont.svg#Gibson') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Gibson';
    src: url('/fonts/gibson-italic-webfont.eot');
    src: url('/fonts/gibson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gibson-italic-webfont.woff') format('woff'),
         url('/fonts/gibson-italic-webfont.ttf') format('truetype'),
         url('/fonts/gibson-italic-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Gibson';
    src: url('/fonts/gibson-regular-webfont.eot');
    src: url('/fonts/gibson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gibson-regular-webfont.woff') format('woff'),
         url('/fonts/gibson-regular-webfont.ttf') format('truetype'),
         url('/fonts/gibson-regular-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Font scaling */

#team .scale-target, #services .scale-target, #contact .scale-target{
	opacity: 0;
}

.scale-target{
	display: inline-block;
	float: right;
}

/* General styles */


body{
	height: 7000px;
	width: 100%;
	max-width: 1600px;
	-moz-transition:top .5s;
    -webkit-transition:top .5s;
    -o-transition:top .5s;
    transition:top .5s;
	font-family: 'Gibson', sans-serif;
    background: black;
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.right-content{
	width: 60%;
	font-size: 0;
	position: relative;
	float: right;
	height: 100%;
	padding: 180px 65px 65px 32px;
}

.left-content{
	font-size: 0;
	position: relative;
	float: left;
	width: 40%;
	height:100%;
	padding: 180px 28px 65px 65px;
}

.right-content > *, .left-content > * {
	font-size: 16px;
	line-height: 20px;
}

*{
	box-sizing: border-box;
}

a{
	color: white;
	text-decoration: underline;
}

a:hover{
	color: #669933;
}

.window-green-line{
	position: fixed;
	width: 100%;
	height: 2px;
	background: #669933;
	z-index: 11;
}

.window-green-line.top{
	top: 0;
}

.window-green-line.bottom{
	bottom: 0;
}

/* General Page styles */

.page{
	height: 1000px;
	width: 100%;
	position: relative;
}

.page-contents{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.fadein{
	-moz-transition:opacity .8s;
    -webkit-transition:opacity .8s;
    -o-transition:opacity .8s;
    transition:opacity .8s;
}

.fadein-fast{
	-moz-transition:opacity .4s;
    -webkit-transition:opacity .4s;
    -o-transition:opacity .4s;
    transition:opacity .4s;
}

.fadein.visible{
	opacity: 1;
}

.loader{
	width: 100%;
	height: 100%;
	background: black;
	position: relative;
}

.loader .spinner{
	position: absolute;
	top: 50%;
	margin-top: -64px;
	left: 50%;
	margin-left: -64px;
}


.column-2{
	-webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    column-count:2;
    column-gap:20px;
}

.column-2 p:first-child, .column-2 ol, .column-2 li:first-child{
	margin-top: 0;
}


/* Navigation styles */

/* General navigation styles */

.nav-item:hover{
	cursor: pointer;
	color: white;
}

/* Main navigation styles */

/*Horizontal distribution from http://stackoverflow.com/questions/6865194/fluid-width-with-equally-spaced-divs/6880421#6880421 */

#main-nav{
	height: 25%;
	width: 100%;
	position: absolute;
	bottom: 10px;
	padding: 0 40px 0 0;
	padding: 0 -webkit-calc(2% + 32px) 0 0;
	padding: 0 -moz-calc(2% + 32px) 0 0;
	padding: 0 -ms-calc(2% + 32px) 0 0;
	padding: 0 -o-calc(2% + 32px) 0 0;
	padding: 0 calc(2% + 32px) 0 0;

}

#main-nav .nav-wrapper, #portfolio-nav .nav-wrapper{
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 22px;
}

#main-nav .stretch, #portfolio-nav .stretch{
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#main-nav .nav-item{
	text-transform: uppercase;
	margin: 0;
	color: #999;
	display: inline-block;
	*display:inline;
	zoom: 1;
	vertical-align:top;
}

#main-nav .scale-target{
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

#main-nav .spacer, #portfolio-nav .spacer{
	color: #999;
	display: inline-block;
	*display:inline;
	zoom: 1;
	vertical-align:top;
}

#main-nav .nav-item.active{
	color: white;
}

#main-nav .nav-item:hover{
	color: #669933;
}



/* Side navigation styles */

#side-nav{
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 11;
}

#side-nav ul{
	font-size: 0;
}

#side-nav .nav-item{
	height: 10px;
	width: 10px;
	background: white;
	margin: 5px;
}

#side-nav .nav-item.active{
	background: #669933;
}


/* Portfolio navigation styles */


#portfolio-subnav{
	padding: 0px;
	display: none;
	position: absolute;
	margin: 0px;
	background: black;
	box-shadow: 0 12px 31px 6px rgba(0,0,0,.8);
	border-radius:  0 0 3px 3px;
}

#portfolio-subnav .nav-item{
	display: block;
	padding: 0;
	border: 0;
	margin: 5px;
}

/* Header styles */

#header{
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 65px 65px 0 65px;
	background: black;
	z-index: 10;
	width: 100%;
	color: white;
	height: 155px;
	box-shadow: 0 0 30px black;
	font-size: 0;
	max-width: 1600px;
}

/* Logo, social icons, and main menu */

.left-nav-block{
	width: 40%;
	height: 100%;
	font-size: 18px;
	float: left;
	position: relative;
	opacity: 0;
}

.right-nav-block{
	position: relative;
	right: 0;
	width: 60%;
	font-size: 18px;
	float: right;
	height: 100%;
}

@media screen and (max-width: 900px){
	.left-nav-block{
		width: 100%;
	}

	.right-nav-block{
		width: 100%;
	}

	#main-nav{
		padding-right: 0;
	}
}

/* Logo */

#logo{
	float: left;
	width: 50%;
	height: 50%;
}


/*Social icons */

/*Square hack from http://stackoverflow.com/questions/11243075/css-scale-height-to-match-width-possibly-with-a-formfactor */

#social{
	float: right;
	font-size: 0;
	width: 50%;
	height: 50%;
	font-size: 0;
	padding-right: 32px;
}

@media screen and (max-width: 900px){
	#social{
		padding-right: 0;
		margin-right: -2.5%;
	}
}

.social-icon{
	float: right;
	position: relative;
	display: inline-block;
	width: 12%;
	height: 12%;
	margin: 0 1.5%;
	padding-bottom: 12%; 
}

.social-icon .icon{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size:100%;
	background-repeat: no-repeat;
}

#social-preloads > div{
	position: absolute;
	left: -9999px;
}

.twitter-preload{
	background-image: url('/img/social/twitter-active.png');
}

.facebook-preload{
	background-image: url('/img/social/facebook-active.png');
}

.instagram-preload{
	background-image: url('/img/social/instagram-active.png');
}

.linkedin-preload{
	background-image: url('/img/social/linkedin-active.png');
}

#twitter .icon{
	background-image: url('/img/social/twitter.png');
}

#instagram .icon{
	background-image: url('/img/social/instagram.png');
}

#facebook .icon{
	background-image: url('/img/social/facebook.png');
}

#linkedin .icon{
	background-image: url('/img/social/linkedin.png');
}

#twitter:hover .icon{
	background-image: url('/img/social/twitter-active.png');
}

#instagram:hover .icon{
	background-image: url('/img/social/instagram-active.png');
}

#facebook:hover .icon{
	background-image: url('/img/social/facebook-active.png');
}

#linkedin:hover .icon{
	background-image: url('/img/social/linkedin-active.png');
}

.social-icon:hover{
	cursor: pointer;
}

/* Carousel styles */

.carousel-inner{
	height: 100%;
}

.carousel-inner .item{
	max-height: 100%;
}

.carousel-indicators{
	z-index: 9;
}

.carousel-indicators li{
	border: none;
	border-radius: 0;
	background: white;
}

.carousel-indicators li.active{
	background: #669933;
	width: 10px;
	height: 10px;
	margin: 1px;
}

/*Home page styles */

#home .carousel-indicators, #portfolio .secondary.carousel-indicators{
	right: 0;
	left: auto;
	text-align: right;
	margin-right: 125px;
}

#home.carousel-control{
	z-index: 11;
}

#home .carousel-indicators{
	z-index: 11;
}

#home-carousel{
	z-index: 10;
	opacity: 0;
}

#home .carousel-inner{
	position: absolute;
	top: 0;
}

/* Portfolio page styles */

.portfolio-carousel{
	height: 100%;
	width: 100%;
	display: none;
}

.portfolio-carousel.active{
	display: block;
}

.portfolio-carousel .carousel-inner{
	right: auto;
	white-space: nowrap;
}

.portfolio-carousel .slide-wrapper{
	width: 100%;
	height: 100%;
	font-size: 0;
	position: relative;
	overflow: hidden;
}

/* Overload Bootstrap carousel CSS to allow for correct slide sizing */

.portfolio-carousel .carousel-inner .slide-wrapper > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .item > img,
.portfolio-carousel .carousel-inner .slide-wrapper > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .active,
.portfolio-carousel .carousel-inner .slide-wrapper > .next,
.portfolio-carousel .carousel-inner .slide-wrapper > .prev {
  display: block;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .active {
  left: 0;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .next,
.portfolio-carousel .carousel-inner .slide-wrapper > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .next {
  left: 100%;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .prev {
  left: -100%;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .next.left,
.portfolio-carousel .carousel-inner .slide-wrapper > .prev.right {
  left: 0;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .active.left {
  left: -100%;
}
.portfolio-carousel .carousel-inner .slide-wrapper > .active.right {
  left: 100%;
}

/* End Bootstrap carousel styles */


.portfolio-carousel .primary.carousel-indicators{
	margin: 0;
	text-align: left;
	left: auto;
	font-size: 0;
	line-height: 0;
	bottom: 0;
}

.portfolio-carousel .primary.carousel-indicators li{
	width: 50%;
	height: 50%;
	z-index: 999;
	position: relative;
	text-indent: 0;
	display: inline-block;
	margin: 0;
}

.portfolio-carousel .secondary.carousel-indicators .alternate-active{
	background: #669933;
	margin: 1px;
	width: 10px;
	height: 10px;
}

.portfolio-carousel .portfolio-thumb-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.portfolio-carousel .portfolio-thumb-wrapper img{
	width: 100%;
	height: 100%;
}

.portfolio-carousel .portfolio-thumb-caption{
	position: absolute;
	bottom: 0;
	display: table;
	height: 18%;
	width: 100%;
	padding: 0 0 0 10px;
	background: #999;
	color: #666;
	text-transform: uppercase;
	line-height: initial;
}

.portfolio-thumb-caption > .caption-wrapper{
	display: table-cell;
	vertical-align: middle;
}

.portfolio-carousel .active .portfolio-thumb-caption{
	color: white;
}

#portfolio .carousel-control.right{
	right: 32px;
}

/* Portfolio navigation */


#portfolio-nav{
	z-index: 10;
	opacity: 0;
	position:absolute;
	bottom: 10px;
	left: 0;
	padding-left: 18px;
	width: 55%;
}

@media screen and (max-width: 900px){	
	#portfolio-nav{
		top: 10px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 100%;
	}

	.right-nav-block{
		text-align: center;
	}
}

@media screen and (max-width: 1100px){
	#portfolio-nav{
		width: 75%;
	}
}

/*#portfolio-nav.faded{
	opacity: 1;
}*/

.portfolio-nav-item{
	display: inline-block;
	text-transform: uppercase;
	margin: 0;
	color: #999;
	display: inline-block;
	*display:inline;
	zoom: 1;
	vertical-align:top;
}

.portfolio-nav-item:hover{
	cursor: pointer;
	color: #669933;
}

.portfolio-nav-item.active{
	color: white;
}

/* Services Page styles */

#services-nav > ol{
	margin: 0;
	padding: 0 0 0 25px;
}

.services-nav-item{
	text-transform: uppercase;
	color: #999;
}

.services-nav-item.active{
	color: white;
}

.services-nav-item:hover{
	cursor: pointer;
}


.services-list{
	list-style: number;
	padding: 0 0 0 20px;
}

.services-item{
	margin-bottom: 10px;
	color: #999;
}

.services-item.active{
	color: white;
	font-size: 110%;
}


.services-item:last-child{
	margin-bottom: 0;
}

/* Team Page styles */

#team-bios-wrapper{
	padding-left: 50px;
}

.team-wrapper{
	height: 100%;
	width: 100%;
}

#team-table-wrapper{
	display: table;
}

.team-image{
	width: 50%;
	height: 50%;
	display: inline-block;
}


#team-bios-upper, #team-bios-lower{
	width: 100%;
	height: 50%;
	display: table-row;
}

#team-bios-upper .team-bio{
	padding-bottom: 20px;	
}

#team-bios-lower .team-bio{
	padding-top: 20px;	
}

.team-bio{
	width: 50%;
	display: table-cell;
	vertical-align: top;
	overflow: hidden;
	margin-right: 6%;
}

.team-green-line{
	width: 80%;
	height: 1px;
	position:absolute;
	background: #669933;
}

.team-thumb{
	float: left;
	width: 85px;
	height: 85px;
	margin: 0 12px 12px 0;
}

.team-bio .name{
	text-transform: uppercase;
	padding: 10px 0 0 0;
}

.team-bio .name, .team-bio .title, .team-bio .location{
	margin: 0 0 6px 0;
}

.team-bio .quote{
	padding: 0 20px 20px 0;
}

.team-bio .lower-content{
	clear: both;
}

/* Blog Page styles */

#blog-nav-menu{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.blog-nav-item{
	color: #999;
	text-transform: uppercase;
}

.blog-nav-item.active{
	color: white;
}

.blog-nav-item:hover{
	cursor: pointer;
}

#blog-posts{
}

.blog-post.active{
	display:block;
}

.blog-post{
	display: none;
}

/* Contact page styles */

.contact-block{
	margin: 10px 0;
}

.contact-block:first-child{
	margin: 0 0 10px 0;
}

#contact-content-wrapper, #stupid-second-content-wrapper{
	width: 100%;
	height: 100%;
}

/* Footer styles */

#footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 65px;
	padding: 20px 65px;
	/*background: black;*/
	font-size: .8em;
	max-width: 1600px;
	z-index: 12;
	/*box-shadow: 0 0 30px black;*/
}

#footer a{
	color: white;
}

#footer a:hover{
	color: #669933;
	text-decoration: none;
}