/* Fonts */

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/gibson-bold-webfont.eot');
    src: url('/fonts/gibson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gibson-bold-webfont.woff') format('woff'),
         url('/fonts/gibson-bold-webfont.ttf') format('truetype'),
         url('/fonts/gibson-bold-webfont.svg#Gibson') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Gibson';
    src: url('/fonts/gibson-italic-webfont.eot');
    src: url('/fonts/gibson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gibson-italic-webfont.woff') format('woff'),
         url('/fonts/gibson-italic-webfont.ttf') format('truetype'),
         url('/fonts/gibson-italic-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Gibson';
    src: url('/fonts/gibson-regular-webfont.eot');
    src: url('/fonts/gibson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gibson-regular-webfont.woff') format('woff'),
         url('/fonts/gibson-regular-webfont.ttf') format('truetype'),
         url('/fonts/gibson-regular-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* General styles */


body{
	height: 7000px;
	width: 100%;
	-moz-transition:top .5s;
    -webkit-transition:top .5s;
    -o-transition:top .5s;
    transition:top .5s;
	font-family: 'Gibson', sans-serif;
    background: black;
    color: white;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.right-content{
	width: 60%;
	padding: 80px 93px 0 0;
	font-size: 0;
	position: absolute;
	right: 0;
	height: calc(100% - 225px);
	top: 100px;
}

.left-content{
	font-size: 0;
	position: relative;
	padding: 80px 0 0 93px;
	left: 0;
	width: 40%;
	top: 100px;
	height: calc(100% - 225px);
}

.right-content > *, .left-content > * {
	font-size: 12pt;
}

*{
	box-sizing: border-box;
}

/* General Page styles */

.page{
	height: 1000px;
	width: calc(100% - 40px);
	margin: 20px;
	background-size: 100%;
	position: relative;
}

.page-contents{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.fadein{
	-moz-transition:opacity .8s;
    -webkit-transition:opacity .8s;
    -o-transition:opacity .8s;
    transition:opacity .8s;
}

.fadein-fast{
	-moz-transition:opacity .4s;
    -webkit-transition:opacity .4s;
    -o-transition:opacity .4s;
    transition:opacity .4s;
}

.fadein.visible{
	opacity: 1;
}

.loader{
	width: 100%;
	height: 100%;
	background: black;
	position: relative;
}

.loader .spinner{
	position: absolute;
	top: 50%;
	margin-top: -64px;
	left: 50%;
	margin-left: -64px;
}


.column-2{
	-webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    column-count:2;
    column-gap:20px;
}

.column-2 p:first-child, .column-2 ol, .column-2 li:first-child{
	margin-top: 0;
}


/* Navigation styles */

.nav-item:hover{
	cursor: pointer;
	color: white;
}

#main-nav .nav-item{
	text-transform: uppercase;
	border-left: 1px solid #999;
	padding: 0 10px;
	margin: 0;
	color: #999;
}

#main-nav .nav-item:first-child{
	border-left: none;
}

#side-nav{
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 10;
}

#side-nav ul{
	font-size: 0;
}

#side-nav .nav-item{
	height: 10px;
	width: 10px;
	background: lightgray;
	margin: 5px;
}

#side-nav .nav-item.active{
	background: #669933;
}

#main-nav .nav-item.active{
	color: white;
}

#main-nav .nav-item:hover{
	color: #669933;
}

#main-nav li{
	display: inline-block;
	margin 0 10px;
}

#portfolio-subnav{
	padding: 0px;
	display: none;
	position: absolute;
	margin: 0px;
}

#portfolio-subnav .nav-item{
	display: block;
	padding: 0;
	border: 0;
}

/* Header styles */

#header{
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px 0 0 40px;
	background: black;
	z-index: 10;
	width: 100%;
	color: white;
	height: 118px;
	box-shadow: 0 0 30px black;
}

.before-nav > div{
	display: inline-block;
}

.before-nav{
	height: 60px;
}

#logo{
	margin-right: 5%;
	vertical-align: top;
	height: 100%;
}


#logo img{
	width: 100%;
}

.social-icon{
	display: inline-block;
	width: 50px;
	height: 50px; 
	background: lightgray;
}

.social-icon:hover{
	cursor: pointer;
}

/* Carousel styles */

.carousel-inner{
	height: 100%;
}

.carousel-inner .item{
	max-height: 100%;
}

.carousel-indicators{
	z-index: 9;
}

/* Home page styles */
#home-text{
	font-size: 12pt;
}

#home-carousel{
	height: calc(100% - 100px);
	padding-top: 0;
}

/* Portfolio page styles */

.portfolio-carousel .carousel-inner{
	height: calc(100% - 318px);
	top: 218px;
	width: 50%;
	right: 5%;
	padding-top: 0;
}

.portfolio-carousel{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}

.portfolio-carousel.active{
	display: block;
}

.portfolio-carousel .carousel-indicators{
	margin: 0;
	padding: 0;
	text-align: left;
	height: calc(100% - 318px);
	top: 218px;
	width: 30%;
	left: 5%;
	font-size: 0;
}

.portfolio-carousel .carousel-indicators li{
	width: 49%;
	height: 50%;
	z-index: 999;
	position: relative;
	text-indent: 0;
	display: inline-block;
}

.portfolio-carousel .carousel-control{
	width: 5%;
}

#portfolio-nav{	
	position: fixed;
	top: 84px;
	right: 36%;
	z-index: 10;
	opacity: 0;
}

#portfolio-nav.faded{
	opacity: 1;
}

.portfolio-nav-item{
	display: inline-block;
	text-transform: uppercase;
	border-right: 1px solid white;
	padding: 0 10px;
	margin: 0;
	color: #999;
}

.portfolio-nav-item:hover{
	cursor: pointer;
	color: #669933;
}

.portfolio-nav-item.active{
	color: white;
}

.portfolio-nav-item:last-child{
	border-right: 0;
}

/* Services Page styles */

.services-item{
	margin-bottom: 10px;
	color: #999;
}

.services-nav-item{
	text-transform: uppercase;
	color: #999;
}

.services-nav-item.active{
	color: white;
}

.services-nav-item:hover{
	cursor: pointer;
}

.services-item.active{
	color: white;
	font-size: 110%;
}

.services-list{
	list-style: number;
}

/* Team Page styles */

#team-bios-wrapper{
	padding-left: 50px;
}


.team-image{
	width: 50%;
	display: inline-block;
}


.team-bio{
	width: 44%;
	font-size: 12pt;
	display: inline-block;
	height: 349px;
	overflow: hidden;
	margin-right: 6%;
}

.team-green-line{
	width: 100%;
	height: 3px;
	background-color: green;
	margin: 10px 0 40px 0;
}

.team-thumb{
	float: left;
}

.team-bio .lower-content{
	clear: both;
}

/* Blog Page styles */

#blog-nav-menu{
	margin: 0;
	list-style-type: none;
}

.blog-nav-item.active{
	color: white;
}

.blog-nav-item:hover{
	cursor: pointer;
}

#blog-posts{
}

.blog-post.active{
	display:block;
}

.blog-post{
	display: none;
}

/* Contact page styles */

.contact-block{
	margin: 10px 0;
}

#contact-map{
	padding-right: 110px;
}

/* Footer styles */

#footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 20px 90px;
	background: black;
	font-size: .9em;
	box-shadow: 0 0 30px black;
}